:root {
  --light-gray: #2b3032a1;
  --primary-color: #458fcc;
  --border: #2b303218;
  --text-color: #ff486b;
  --gugi: "Gugi", cursive;
  --sofia: "Sofia", cursive;
  --roboto: "Roboto", sans-self;
}
.primary-color {
  background-color: var(--primary-color);
}
.bg-primary-color {
  background-color: var(--primary-color) !important;
}
.text-color {
  color: var(--text-color);
}
.font-roboto {
  font-family: var(--roboto);
}
.lightblue {
  color: lightblue;
}

/*working on header*/
header {
  background-color: var(--primary-color);
  font-family: var(--roboto);
}
header .site-title {
  font-family: var(--gugi);
  color: rgb(255, 255, 255);
  margin-top: 20px;
}
.container .dropdown-toggle,
.container .dropdown-item {
  font-size: 0.6em;
}
.header-links a {
  font-size: 0.9em;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.navbar-nav {
  padding: 0.8em 0em;
}
.navbar-nav .nav-link {
  font-size: 0.9em;
  color: var(--light-gray) !important;
}
.navbar-nav .nav-item .nav-link {
  padding: 0 1.3em;
}
.navbar-nav .basket-icon {
  margin-right: 6.5rem !important;
}
.aligning-auth {
  margin-top: 5px;
}

@media screen and (max-width: 990px) {
  .navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
}

@media screen and (max-width: 990px) {
  body {
    overflow-x: hidden;
  }
  .navbar-nav {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    width: 50%;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .navbar-nav li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
